{% extends "layout/baseHRIS.html" %}
{% block title %}- Master TRT{% endblock %}
{% block header_kicker %}MASTER FILE{% endblock %}
{% block header_title %}Master TRT{% endblock %}

{% block content %}

<div class="hris-page">
    <div class="hris-page-header">
        <div>
            <h2 class="hris-page-title">Master TRT</h2>
            <p class="hris-page-subtitle">Kelola data Master TRT HRIS.</p>
        </div>
    </div>
    
<div class="hris-page">
    <div class="hris-card-body">
                    <div class="hris-form-stack">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



</div>
{% endblock %}

{% block script %}

{% endblock %}