<!-- partials/nav_dashboard3.html -->
<nav class="nxl-navigation">
    <div class="navbar-wrapper">
        <div class="navbar-content">
            <ul class="nxl-navbar">
                <div class="custom-nav-header">
                    <div class="header-container">
                        <img src="{{ url_for('static', filename='static_dashboard_1/assets/images/logo-full.png') }}"
                            alt="" width="40" height="auto">
                        <div class="nxl-navigation-toggle toggle-btn-action">
                        </div>
                        <span class="nav-text-label nxl-mtext">HRIS Kansar</span>
                    </div>
                    <div class="header-container">
                        <div class="nxl-navigation-toggle toggle-btn-action">
                            <div id="menu-mini-button" class="btn-mini-style" style="cursor: pointer;">
                                <i class="feather-menu"></i>
                            </div>
                            <div id="menu-expend-button" class="btn-expand-style" style="display: none;">
                                <i class="feather-menu"></i>
                            </div>
                        </div>
                        <span class="nav-text-label nxl-mtext">Navigation</span>
                    </div>
                    <div class="nav-separator"></div>
                </div>
                <li class="nxl-item nxl-caption">
                    <label>Navigation</label>
                </li>
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="bi bi-microsoft"></i></span>
                        <span class="nxl-mtext">Dashboards</span><span class="nxl-arrow"><i
                                class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_dashboard_kinerja') }}">
                                <span class="nxl-micon"><i class="bi bi-layout-text-window-reverse"></i></span>
                                <span class="nxl-mtext">Dashboard Pribadi</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="bi bi-bar-chart-line-fill"></i></span>
                        <span class="nxl-mtext">Pengajuan</span><span class="nxl-arrow"><i
                                class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_pengajuan_skp') }}">
                                <span class="nxl-micon"><i class="bi bi-star-fill"></i></span>
                                <span class="nxl-mtext">SKP</span>
                            </a>
                        </li>
                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_pengajuan_absensi') }}">
                                <span class="nxl-micon"><i class="bi bi-file-earmark-break-fill"></i></span>
                                <span class="nxl-mtext">Absensi</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="bi bi-file-earmark-bar-graph"></i></span>
                        <span class="nxl-mtext">Aktifitasku</span><span class="nxl-arrow"><i
                                class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_aktifitasku_dashboard') }}">
                                <span class="nxl-micon"><i class="bi bi-layout-text-window-reverse"></i></span>
                                <span class="nxl-mtext">Dashboard</span></a>
                        </li>
                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_aktifitasku_buku_harian') }}">
                                <span class="nxl-micon"><i class="bi bi-journal-text"></i></span>
                                <span class="nxl-mtext">Buku Harian</span>
                            </a>
                        </li>
                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_aktifitasku_dupak') }}">
                                <span class="nxl-micon"><i class="bi bi-search"></i></span>
                                <span class="nxl-mtext">Dupak</span>
                            </a>
                        </li>
                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_aktifitasku_skp') }}">
                                <span class="nxl-micon"><i class="bi bi-star-fill"></i></span>
                                <span class="nxl-mtext">SKP</span>
                            </a>
                        </li>
                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_aktifitasku_jadwal_piket') }}">
                                <span class="nxl-micon"><i class="bi bi-calendar"></i></span>
                                <span class="nxl-mtext">Jadwal Siaga</span>
                            </a>
                        </li>
                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_aktifitasku_dinas_luar') }}">
                                <span class="nxl-micon"><i class="bi bi-box-arrow-right"></i></span>
                                <span class="nxl-mtext">Dinas Luar</span>
                            </a>
                        </li>
                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_aktifitasku_update_pendukung') }}">
                                <span class="nxl-micon"><i class="bi bi-cloud-upload-fill"></i></span>
                                <span class="nxl-mtext">Update Pendukung</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="bi bi-currency-dollar"></i></span>
                        <span class="nxl-mtext">Benefit</span><span class="nxl-arrow"><i
                                class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_benefit_tunjangan_kinerja') }}">
                                <span class="nxl-micon"><i class="bi bi-coin"></i></span>
                                <span class="nxl-mtext">Tunjangan Kinerja</span>
                            </a>
                        </li>
                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_benefit_rekap_uang_makan') }}">
                                <span class="nxl-micon"><i class="bi bi-cash-stack"></i></span>
                                <span class="nxl-mtext">Uang Makan</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="bi bi-pencil-square"></i></span>
                        <span class="nxl-mtext">Approval</span><span class="nxl-arrow"><i
                                class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_approved_request') }}">
                                <span class="nxl-micon"><i class="bi bi-unlock"></i></span>
                                <span class="nxl-mtext">Need Approval</span>
                            </a>
                        </li>
                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_approval_approved') }}">
                                <span class="nxl-micon"><i class="bi bi-lock"></i></span>
                                <span class="nxl-mtext">Has Been Approved</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="bi bi-person-square"></i></span>
                        <span class="nxl-mtext">Profile</span><span class="nxl-arrow"><i
                                class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_profile') }}">
                                <span class="nxl-micon"><i class="bi bi-person"></i></span>
                                <span class="nxl-mtext">Pribadi</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="bi bi-send"></i></span>
                        <span class="nxl-mtext">Kirim</span><span class="nxl-arrow"><i
                                class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_kirim_kritik_saran') }}">
                                <span class="nxl-micon"><i class="bi bi-pencil-fill"></i></span>
                                <span class="nxl-mtext">Kritik & Saran</span>
                            </a>
                        </li>
                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_kirim_forum_media_informasi') }}">
                                <span class="nxl-micon"><i class="bi bi-info-circle"></i></span>
                                <span class="nxl-mtext">FJB</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nxl-item nxl-hasmenu">
                    <a href="{{ url_for('main.index') }}" class="nxl-link">
                        <span class="nxl-micon"><i class="bi bi-house-fill"></i></span>
                        <span class="nxl-mtext">Portal</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>