<!-- partials/nav_dashboard1.html -->
<nav class="nxl-navigation">
    <div class="navbar-wrapper">
        <div class="navbar-content">
            <ul class="nxl-navbar">
                <div class="custom-nav-header">
                    <div class="header-container">
                        <img src="{{ url_for('static', filename='static_dashboard_1/assets/images/logo-full.png') }}"
                            alt="" width="40" height="auto">
                        <div class="nxl-navigation-toggle toggle-btn-action">
                        </div>
                        <span class="nav-text-label nxl-mtext">HRIS Kansar</span>
                    </div>
                    <div class="header-container">
                        <div class="nxl-navigation-toggle toggle-btn-action">
                            <div id="menu-mini-button" class="btn-mini-style" style="cursor: pointer;">
                                <i class="feather-menu"></i>
                            </div>
                            <div id="menu-expend-button" class="btn-expand-style" style="display: none;">
                                <i class="feather-menu"></i>
                            </div>
                        </div>
                        <span class="nav-text-label nxl-mtext">Navigation</span>
                    </div>
                    <div class="nav-separator"></div>
                </div>

                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                fill="currentColor">
                                <path d="M4 4h6v6h-6zM14 4h6v4h-6zM14 10h6v10h-6zM4 14h6v6h-6z" />
                            </svg>
                        </span>
                        <span class="nxl-mtext">Dashboard</span><span class="nxl-arrow"><i
                                class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_dashboard_pelanggaran') }}">
                                <span class="nxl-micon"><i class="ti ti-layout-dashboard"></i></span>
                                <span class="nxl-mtext">Dashboard Kepegawaian</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-layers"></i></span>
                        <span class="nxl-mtext">Master File</span><span class="nxl-arrow"><i
                                class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">

                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_master_user') }}">
                                <span class="nxl-micon"><i class="feather-user"></i></span>
                                <span class="nxl-mtext">User Account</span>
                            </a>
                        </li>

                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_master_pegawai_vip') }}">
                                <span class="nxl-micon"><i class="ti ti-vip"></i></span>
                                <span class="nxl-mtext">VIP List</span>
                            </a>
                        </li>

                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_master_kalender') }}">
                                <span class="nxl-micon"><i class="feather-calendar"></i></span>
                                <span class="nxl-mtext">Master Kalender</span>
                            </a>
                        </li>

                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_master_potongan') }}">
                                <span class="nxl-micon"><i class="feather-tag"></i></span>
                                <span class="nxl-mtext">Master Potongan</span>
                            </a>
                        </li>

                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_master_unit_kerja') }}">
                                <span class="nxl-micon"><i class="ti ti-building"></i></span>
                                <span class="nxl-mtext">Master Unit Kerja</span>
                            </a>
                        </li>

                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_master_tunkin_class') }}">
                                <span class="nxl-micon"><i class="ti ti-brand-redhat"></i></span>
                                <span class="nxl-mtext">Master Tunkin/Class</span>
                            </a>
                        </li>

                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_master_jam_kerja') }}">
                                <span class="nxl-micon"><i class="ti ti-clock-edit"></i></span>
                                <span class="nxl-mtext">Master Jam Kerja</span>
                            </a>
                        </li>

                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_master_jam_finger') }}">
                                <span class="nxl-micon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        viewBox="0 0 24 24">
                                        <path
                                            d="M12 2a7 7 0 0 0-7 7v3a5 5 0 0 0 10 0v-3a3 3 0 0 0-6 0v3a1 1 0 0 0 2 0v-3a1 1 0 0 1 2 0v3a3 3 0 0 1-6 0v-3a5 5 0 0 1 10 0v3a7 7 0 0 1-14 0v-3a9 9 0 0 1 18 0v3c0 5-4 9-9 9" />
                                    </svg>
                                </span>
                                <span class="nxl-mtext">Master Jam Finger</span>
                            </a>
                        </li>

                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_master_butir_kegiatan') }}">
                                <span class="nxl-micon"><i class="feather-file-text"></i></span>
                                <span class="nxl-mtext">Master Butir Kegiatan</span>
                            </a>
                        </li>

                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_master_jabatan') }}">
                                <span class="nxl-micon"><i class="feather-award"></i></span>
                                <span class="nxl-mtext">Master Jabatan</span>
                            </a>
                        </li>

                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_master_uang_makan') }}">
                                <span class="nxl-micon"><i class="ti ti-tools-kitchen-2"></i></span>
                                <span class="nxl-mtext">Master Uang Makan</span>
                            </a>
                        </li>

                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_master_trt') }}">
                                <span class="nxl-micon"><i class="ti ti-cash"></i></span>
                                <span class="nxl-mtext">Master TRT</span>
                            </a>
                        </li>

                    </ul>
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="ti ti-edit"></i></span>
                        <span class="nxl-mtext">Kepegawaian</span><span class="nxl-arrow"><i
                                class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_kepegawaian_data_pegawai') }}">
                                <span class="nxl-micon"><i class="feather-users"></i></span>
                                <span class="nxl-mtext">Data Pegawai</span>
                            </a>
                        </li>

                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_kepegawaian_dinas_luar_umum') }}">
                                <span class="nxl-micon"><i class="feather-briefcase"></i></span>
                                <span class="nxl-mtext">Dinas Luar Umum</span>
                            </a>
                        </li>

                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_kepegawaian_dinas_luar_operasi') }}">
                                <span class="nxl-micon"><i class="feather-activity"></i></span>
                                <span class="nxl-mtext">Dinas Luar OPS</span>
                            </a>
                        </li>

                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_kepegawaian_dinas_luar_pelatihan') }}">
                                <span class="nxl-micon"><i class="feather-file-text"></i></span>
                                <span class="nxl-mtext">Dinas Luar SD</span>
                            </a>
                        </li>

                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_kepegawaian_pegawai_cuti') }}">
                                <span class="nxl-micon"><i class="feather-user-x"></i></span>
                                <span class="nxl-mtext">Pegawai Cuti</span>
                            </a>
                        </li>

                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_kepegawaian_pegawai_sakit') }}">
                                <span class="nxl-micon"><i class="feather-heart"></i></span>
                                <span class="nxl-mtext">Pegawai Sakit</span>
                            </a>
                        </li>

                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_kepegawaian_pegawai_tidak_hadir') }}">
                                <span class="nxl-micon"><i class="feather-user-minus"></i></span>
                                <span class="nxl-mtext">Pegawai Tidak Hadir</span>
                            </a>
                        </li>

                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_kepegawaian_update_pendukung') }}">
                                <span class="nxl-micon"><i class="feather-upload"></i></span>
                                <span class="nxl-mtext">Update Pendukung</span>
                            </a>
                        </li>

                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_kepegawaian_mutasi_penempatan_pegawai') }}">
                                <span class="nxl-micon"><i class="feather-repeat"></i></span>
                                <span class="nxl-mtext">Pegawai Mutasi</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-settings"></i></span>
                        <span class="nxl-mtext">Data Absensi</span><span class="nxl-arrow"><i
                                class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_data_absensi_normalisasi_finger') }}">
                                <span class="nxl-micon"><i class="ti ti-fingerprint"></i></span>
                                <span class="nxl-mtext">Absensi Finger</span>
                            </a>
                        </li>

                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_data_absensi_non_finger') }}">
                                <span class="nxl-micon"><i class="ti ti-user-check"></i></span>
                                <span class="nxl-mtext">Absensi Non Finger</span>
                            </a>
                        </li>

                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_data_absensi_trace') }}">
                                <span class="nxl-micon"><i class="ti ti-file-text"></i></span>
                                <span class="nxl-mtext">Detail Absensi</span>
                            </a>
                        </li>

                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_data_absensi_trace_tunjangan') }}">
                                <span class="nxl-micon"><i class="ti ti-cash"></i></span>
                                <span class="nxl-mtext">Detail Tunkin</span>
                            </a>
                        </li>

                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_data_absensi_pegawai_manual') }}">
                                <span class="nxl-micon"><i class="ti ti-edit"></i></span>
                                <span class="nxl-mtext">Absensi Manual</span>
                            </a>
                        </li>

                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_data_absensi_pegawai_lembur_manual') }}">
                                <span class="nxl-micon"><i class="ti ti-clock"></i></span>
                                <span class="nxl-mtext">Lembur Manual</span>
                            </a>
                        </li>

                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_data_absensi_impor_file') }}">
                                <span class="nxl-micon"><i class="ti ti-file-import"></i></span>
                                <span class="nxl-mtext">Impor File</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-file-text"></i></span>
                        <span class="nxl-mtext">Laporan</span><span class="nxl-arrow"><i
                                class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_laporan_rekap_absensi_all') }}">
                                <i class="ti ti-checkbox me-2"></i>Rekap Absensi All
                            </a>
                        </li>
                        <li class="nxl-item">
                            <!-- Diasumsikan "Recap Absensi Person" = Laporan Rekap Absensi Individu -->
                            <a class="nxl-link" href="{{ url_for('main.view_laporan_rekap_absensi_individu') }}">
                                <i class="ti ti-checkbox me-2"></i>Recap Absensi Person
                            </a>
                        </li>
                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_laporan_rekap_absensi_log_finger') }}">
                                <i class="ti ti-checkbox me-2"></i>Recap History Log Finger
                            </a>
                        </li>
                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_laporan_rekap_clock_exception') }}">
                                <i class="ti ti-checkbox me-2"></i>Rekap Absensi Bulanan
                            </a>
                        </li>
                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_laporan_rekap_ketidakhadiran_pegawai') }}">
                                <i class="ti ti-checkbox me-2"></i>Recap DL, S, I CUTI
                            </a>
                        </li>
                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_laporan_rekap_uang_makan') }}">
                                <i class="ti ti-checkbox me-2"></i>Recap Uang Makan
                            </a>
                        </li>
                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_laporan_rekap_pelanggaran_disiplin') }}">
                                <i class="ti ti-checkbox me-2"></i>Recap Pelanggaran Disiplin
                            </a>
                        </li>
                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_laporan_rekap_tunjangan_kinerja') }}">
                                <i class="ti ti-checkbox me-2"></i>Recap Tunjangan Kinerja
                            </a>
                        </li>
                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_laporan_cetak_daftar_lembur_umum') }}">
                                <i class="ti ti-checkbox me-2"></i>Recap Daftar Lembur
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-monitor"></i></span>
                        <span class="nxl-mtext">Media Informasi</span><span class="nxl-arrow"><i
                                class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ url_for('main.view_media_informasi') }}">
                                <span class="nxl-micon"><i class="ti ti-file-export"></i></span>
                                <span class="nxl-mtext">Inp Pengumuman</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nxl-item nxl-hasmenu">
                    <a href="{{ url_for('main.index') }}" class="nxl-link">
                        <span class="nxl-micon"><i class="bi bi-house-fill"></i></span>
                        <span class="nxl-mtext">Portal</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>